/* item */
.container {
    width: 960px;
    height: 300px;
    border-radius: 15px;
    background-color: #fbfbfb;
    margin: auto;
    overflow: auto;
    position: relative;
  }

.slider {
    width: 1200px;
    height: 260px;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    margin: auto;
  }

.container .slider .items {
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 10px;
    margin-block: 10px;
    background-color:#efefef;
    width:220px;
    overflow: hidden;
  }
  
  .container .slider .items .img-content {
    background-color: red;
    /*background-image: ;*/
    width: 220px;
    height: 180px;
  }

  .container .slider .items .caption h2 {
    margin-top: 3px;
    margin-left: 10px;
  }
  
  .container .slider .items .caption p {
    margin-top: -20px;
    margin-left: 10px;
  }