/* home */
.content {
    display: flex;
    height: 500px;
    justify-content: space-between;
  }
  
  .content .text-content {
    margin-top: 70px;
    margin-left: 55px;
    width: 500px;
  }
  
  .content .text-content h1 {
    font-weight: bold;
    font-size: 40px;
  }
  
  .content .property1 {
    width: 300px;
    height: 300px;
    margin: 100px 55px;
  }
  
  .l-more {
    border-style: none;
    background-color: #167cff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    width: 130px;
    height: 45px;
  }
  
  .l-more:hover {
    background-color: #0060db;
  }